.vitrine-card {
  border-width: 3px;
  border-radius: 12px;
  transition: 0.2s;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vitrine-card:hover {
  transform: scale(1.03);
}


.vitrine-card img {
  width: 100%;
  height: 180px;      
  object-fit: contain; 
  margin-bottom: 10px;
}


.vitrine-card h5 {
  min-height: 48px; 
}


.preco {
  color: green;
  font-weight: bold;
  font-size: 18px;
}